.App {
  color:black;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
header {
  text-align: center;
  padding: 5px 15px;
}

button{
  margin: 4px 4px;
  padding: 5px 8px;
  background-color: #fff;
  border: 1px solid rgb(67, 199, 149);
}

div{
  padding:10px 5px;
}

textarea{
  width: 100%;
  height: 200px;
  resize: vertical; 

  border: none;
  border-bottom: 2px solid black;
}

input{
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
}

.content {
  width: 1000px;
  padding: 20px 30px;
  margin: 0 auto;
  overflow: hidden;
}

.List table {
  width: 100%;
  border: 1px solid gray;
}
.List table th,td {
  padding: 10px 20px;
}
.List table td{
  text-align: center;
}
.List table td.number{
  width: 10%;
}
.List table td.title{
  width: 50%;
  text-align: left;
}
.List table td.writer{
  width: 20%;
}
.List table td.write_date{
  width: 20%;
}


.fl-right{
  float: right;
}

.txt-al-center{
  text-align: center;
}


