.App {
  color:black;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
header {
  text-align: center;
  padding: 5px 15px;
}
.List {
  width: 1000px;
  padding: 20px 30px;
  margin: 0 auto;
}
.List table {
  width: 100%;
  border: 1px solid orange;
}

.List table th,
td {
  padding: 10px 20px;
}
